<footer class="main-footer">
  <div class="float-right d-none d-sm-block">
    <b>Version</b> {{ appVersion }}
  </div>
  <strong>Copyright &copy; 2021 <a>my wallet</a>.</strong>
  All rights reserved.
</footer>
