﻿<div class="p-4">
    <div class="container">
        <h1>Hi {{user.firstName}}!</h1>
        <p>Hackerkernel</p>
        <p><a routerLink="/users">Manage Users</a></p>
    </div>
    <aside #mainSidebar class="main-sidebar sidebar-dark-primary elevation-4">
        <!-- Brand Logo -->
        <a [routerLink]="['/']" class="brand-link">
          <img
            src=""
            alt="Al-Amwaj"
            class="brand-image img-circle elevation-3"
            style="opacity: 0.8"
          />
          <span class="brand-text font-weight-light">Hackerkernel</span>
        </a>
      
        <!-- Sidebar -->
        <div class="sidebar">
          <!-- Sidebar user (optional) -->
          <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
              <img
                src=""
                class="img-circle elevation-2"
                alt="User Image"
              />
            </div>
            <div class="info">
              <a [routerLink]="['/admin/profile']" class="d-block">{{user.firstName}}</a>
            </div>
          </div>
      
          <!-- Sidebar Menu -->
          <nav class="mt-2">
            <ul
              class="nav nav-pills nav-sidebar flex-column"
              data-widget="treeview"
              role="menu"
              data-accordion="false"
            >
              <!-- Add icons to the links using the .nav-icon class
                   with font-awesome or any other icon font library -->
              <li class="nav-item">
                <a [routerLink]="['/admin']" class="nav-link">
                  <i class="nav-icon fas fa-tachometer-alt"></i>
                  <p>Dashboard</p>
                </a>
              </li>
    
              <li class="nav-item">
                <a [routerLink]="['']" class="nav-link">
                    <i class="nav-icon fas fa-tachometer-alt"></i>
                  <p>transaction history</p>
                </a>
              </li>
              <li class="nav-item">
                <a [routerLink]="['']" class="nav-link">
                    <i class="nav-icon fas fa-tachometer-alt"></i>
                  <p>balance sheet</p>
                </a>
              </li>
              
              <li class="nav-item">
                <a [routerLink]="['']" class="nav-link">
                    <i class="nav-icon fas fa-tachometer-alt"></i>
                  <p>cashback earned</p>
                </a>
              </li>
             
              <li class="nav-item">
                <a [routerLink]="['']" class="nav-link">
                    <i class="nav-icon fas fa-tachometer-alt"></i>
                  <p>my profile</p>
                </a>
              </li>
      
              <li class="nav-item">
                <a [routerLink]="['']" class="nav-link">
                    <i class="nav-icon fas fa-tachometer-alt"></i>
                  <p>refer & eorn</p>
                </a>
              </li>
              <li class="nav-item">
                <a [routerLink]="['']" class="nav-link">
                    <i class="nav-icon fas fa-tachometer-alt"></i>
                  <p>report</p>
                </a>
              </li>
              
            </ul>
          </nav>
          <!-- /.sidebar-menu -->
        </div>
        <!-- /.sidebar -->
      </aside>
      
</div>

  